<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blush</title>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'blush/img/Logo2.png' %}" />
    <link rel="stylesheet" href="{% static 'blush/css/bootstrap.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/0485231d9b.js" crossorigin="anonymous"></script>
    <script src="{% static 'blush/js/script.js' %}"></script>
</head>

<body class="background-purple">
    <!-- The Modal -->
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar col-sm-12 col-md-4 col-lg-3">
                <a href='/'><img class="img-fluid" src="{% static 'blush/img/blushdark.png' %}" alt="logo"></a>
                <hr>
                <h1 class="text-center display-4">Leasha Combes</h1>
                <img src="{% static 'blush/img/Leasha.jpg'%}" alt="stylist" class="rounded img-fluid mt-3 mb-3">

                <h2 class="text-center display-4">Services</h1>
                    <hr class="line">
                    <div class="row pl-3">
                        <ul class="col-6 pt-0">
                            <li>Adult Cuts</li>
                            <li>Childrens Cuts</li>
                            <li>Color</li>
                            <li>Partial Foil</li>
                            <li>Full Foil</li>
                            <li>Updo</li>
                        </ul>
                        <ul class="col-6 pt-0">
                            <li>Olaplex Treatment</li>
                            <li>Repairative Mask</li>
                            <li>Makeup</li>
                            <li>Brow Wax</li>
                            <li>Brazilian Blowout</li>
                            <li>Weddings & Events</li>
                        </ul>
                    </div>
            </div>
            <div class="main col-sm-12 col-md-8 col-lg-9">
                <h1 class="text-center display-2 mt-3">Leasha's Work</h1>
                <hr class="line">
                <!-- Image Gallery -->
                <div class="gallery pl-3">
                    <div class="gallery2 row text-center">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/7_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/7_2.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/4_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/4_2.jpg' %}" alt=""></div>
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/9_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/9_2.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/6_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/3_1.jpg' %}" alt=""></div> 
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/5_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/8_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/1_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/1_2.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/2_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/10_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/10_2.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/11_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/12_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/13_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/14_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/15_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/16_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/17_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/18_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/19_1.jpg' %}" alt=""></div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3"><img class="img-thumbnail"
                                src="{% static '/blush/img/Leasha/20_1.jpg' %}" alt=""></div>

                    </div>
                </div>
                <div class="container-fluid text-center">
                    <h1 class="display-4 mt-4">Book Today!</h1>
                    <hr class="line">
                    <p class="col-12">If you would like to visit with Leasha directly about her services and what she
                        can do for you, call the salon at 918-514-4629 and ask for Leasha or message her directly on
                        Facebook using the link below.</p>
                    <p class="col-12">If you would like to book with Leasha, or set up a consultation, <a
                            href="https://square.site/book/HJ6VNRHCSYP43/leasha-at-blush-salon-sand-springs-ok">click
                            here</a>!</p>
                </div>
                <div class="container-fluid row text-center">
                    <div class="col-12 social p-0">
                        <a href="https://www.facebook.com/Blush-hair-and-makeup-lounge-1410475419254882/"><i
                                class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/hair_by_leasha/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="connect" class="container-fluid padding">
            <img class="mx-auto d-block" src="{% static 'blush/img/blush4.png' %}" alt="logo">
            <div class="row text-center">
                <div class="col-md-6">
                    <hr class="light">
                    <h5>Our Hours</h5>
                    <hr class="light">
                    <p>Tuesday: 10 am - 6pm</p>
                    <p>Wednesday: 10 am - 6pm</p>
                    <p>Thursday: 10 am - 6pm</p>
                    <p>Friday: 10am - 6pm</p>
                    <p>Saturday: 10am- 3pm</p>
                    <p>Sunday: Closed</p>
                    <p>Monday: Closed</p>
                </div>
                <div class="col-md-6">
                    <hr class="light">
                    <h5>Contact Information</h5>
                    <hr class="light">
                    <p>918-514-4629</p>
                    <p>111 North Main Street</p>
                    <p>Sand Springs, OK, 74063</p>
                    <a
                        href="https://www.google.com//maps/dir//blush+sand+springs/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x87b6c0f7e1b5b573:0xa6b779318d0f97aa?sa=X">Directions</a>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <hr class="light-100">
            <h5>&copy; Blush created by <a href="https://www.linkedin.com/in/masoncombes/">Mason Combes</a></h5>
            <h5>Created my free logo at <a href="https://logomakr.com/">LogoMakr.com</a></h5>
        </div>
    </footer>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <link rel="stylesheet" href="{% static 'blush/css/style.css' %}">
</body>

</html>