
/* Firefox Bug Fix */
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/* Fixed Background Image */
figrue {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0,auto,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    background-image: url('./../img/brush-narrow.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}
/* Bootstrap Padding Fix */
[class*="col-"] {
    padding: 1rem;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important
}
.logo {
    height: 50%;
    width: 50%;
}
.jumbotron {
    background-color: #993955;
    padding: 1rem;
    border-radius: 0;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.btn-primary {
    color: #222;
    background-color: pink;
    border: 1px solid black;
}
.btn-primary:hover {
    background-color: blanchedalmond;
    border: 1px solid black;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.line {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
}
.fun{
    width: 100%;
    margin-bottom: 2rem;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook {
    color: #3b5998
}
.fa-twitter {
    color: #00aced;
}
.fa-google-plus-g {
    color: #dd4b39
}
.fa-instagram {
    color: #517fa4;
}
.fa-youtube {
    color: #bb0000
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
    color: #d5d5d5;
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: #d5d5d5;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.profile {
    width: 200px;
    height: 100%;
    overflow: auto;
}

.background-purple{
    background-color: #993955;
}
.gallery {
    height: 500px;
    overflow: auto;
}
.sidebar {
    overflow: hidden;
    position: relative;
}
.main {
    border-top-left-radius: 5rem;
    background-color: #f8f9fa;
    padding: 0px;
}
.img-thumbnail {
    cursor: pointer;
    transition: .3s;
}
.img-thumbnail:hover {
    opacity: .7;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
} 
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
} 
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
    width: 100%;
    }
}